# Generic Stuff
APP_NAME="p1gold golding gold"
APP_DESC="im golding"
APP_ENV=local
APP_DEBUG=true

# Encryption
ENCRYPTION_KEY=""

# Cookies
Domain="example.com" # please just do domain.tld (not subdomain.domain.tld)
CookieName="p1goldcookie"

# Storage (R2)
R2_BUCKET=""
R2_ACCOUNT_ID=""
R2_KEY_ID=""
R2_SECRET=""

# Maintenance Toggles
MAINTENANCE=false
ACTUAL_MAINTENANCE=false

# Database
DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASS=""
